[submodule "submodules/financial-news-llama-index"]
	path = submodules/financial-news-llama-index
	url = https://github.com/afirez/financial-news-llama-index.git
	branch = main
[submodule "submodules/FinGPT"]
	path = submodules/FinGPT
	url = https://github.com/afirez/FinGPT.git
[submodule "submodules/mlc-llm"]
	path = submodules/mlc-llm
	url = https://github.com/afirez/mlc-llm.git
	branch = main
[submodule "submodules/LangChain-Tutorials"]
	path = submodules/LangChain-Tutorials
	url = https://github.com/afirez/LangChain-Tutorials.git
	branch = main
[submodule "submodules/tutorials"]
	path = submodules/tutorials
	url = https://github.com/afirez/tutorials.git
	branch = main
[submodule "submodules/openai-cookbook"]
	path = submodules/openai-cookbook
	url = https://github.com/afirez/openai-cookbook.git
	branch = main
[submodule "submodules/Auto-GPT"]
	path = submodules/Auto-GPT
	url = https://github.com/afirez/Auto-GPT.git
[submodule "submodules/flutter_chat_box"]
	path = submodules/flutter_chat_box
	url = https://github.com/afirez/flutter_chat_box.git
	branch = main
[submodule "submodules/whisper.cpp"]
	path = submodules/whisper.cpp
	url = https://github.com/afirez/whisper.cpp.git
[submodule "submodules/Orator"]
	path = submodules/Orator
	url = https://github.com/afirez/Orator.git
	branch = main
[submodule "submodules/feiguyunai"]
	path = submodules/feiguyunai
	url = https://github.com/afirez/feiguyunai.git
	branch = main
[submodule "submodules/langchain3"]
	path = submodules/langchain3
	url = https://github.com/afirez/langchain3.git
[submodule "submodules/bark"]
	path = submodules/bark
	url = https://github.com/afirez/bark.git
	branch = main
[submodule "submodules/pygpt4all"]
	path = submodules/pygpt4all
	url = https://github.com/afirez/pygpt4all.git
	branch = main
[submodule "submodules/llama.cpp"]
	path = submodules/llama.cpp
	url = https://github.com/afirez/llama.cpp.git
[submodule "submodules/Thorsten-Voice"]
	path = submodules/Thorsten-Voice
	url = https://github.com/afirez/Thorsten-Voice.git
[submodule "submodules/privateGPT"]
	path = submodules/privateGPT
	url = https://github.com/afirez/privateGPT.git
	branch = main
[submodule "submodules/gpt4all"]
	path = submodules/gpt4all
	url = https://github.com/afirez/gpt4all.git
	branch = main
[submodule "submodules/voice_assistant"]
	path = submodules/voice_assistant
	url = https://github.com/afirez/voice_assistant.git
[submodule "submodules/sherpa"]
	path = submodules/sherpa
	url = https://github.com/afirez/sherpa.git
	branch = main
[submodule "submodules/Hands-On-Deep-Learning-Algorithms-with-Python"]
	path = submodules/Hands-On-Deep-Learning-Algorithms-with-Python
	url = https://github.com/afirez/Hands-On-Deep-Learning-Algorithms-with-Python.git
[submodule "submodules/Hands-On-Meta-Learning-with-Python"]
	path = submodules/Hands-On-Meta-Learning-with-Python
	url = https://github.com/afirez/Hands-On-Meta-Learning-with-Python.git
[submodule "submodules/Hands-On-Reinforcement-Learning-with-Python"]
	path = submodules/Hands-On-Reinforcement-Learning-with-Python
	url = https://github.com/PacktPublishing/Hands-On-Reinforcement-Learning-with-Python.git
[submodule "submodules/Deep-Reinforcement-Learning-with-Python"]
	path = submodules/Deep-Reinforcement-Learning-with-Python
	url = https://github.com/afirez/Deep-Reinforcement-Learning-with-Python.git
[submodule "submodules/Getting-Started-with-Google-BERT"]
	path = submodules/Getting-Started-with-Google-BERT
	url = https://github.com/PacktPublishing/Getting-Started-with-Google-BERT.git
[submodule "submodules/OpenBuddy"]
	path = submodules/OpenBuddy
	url = https://github.com/afirez/OpenBuddy.git
	branch = main
[submodule "submodules/gato"]
	path = submodules/gato
	url = https://github.com/afirez/gato.git
	branch = main
[submodule "submodules/languagemodels"]
	path = submodules/languagemodels
	url = https://github.com/afirez/languagemodels.git
	branch = main
[submodule "submodules/AutoGPTQ"]
	path = submodules/AutoGPTQ
	url = https://github.com/afirez/AutoGPTQ.git
[submodule "submodules/text-generation-webui"]
	path = submodules/text-generation-webui
	url = https://github.com/afirez/text-generation-webui.git
[submodule "submodules/RecurrentGPT"]
	path = submodules/RecurrentGPT
	url = https://github.com/afirez/RecurrentGPT.git
	branch = main
[submodule "submodules/Mastering-Transformers"]
	path = submodules/Mastering-Transformers
	url = https://github.com/afirez/Mastering-Transformers.git
	branch = main
[submodule "submodules/llama2.c"]
	path = submodules/llama2.c
	url = https://github.com/afirez/llama2.c.git
	branch = master
[submodule "alphachatgpt/case_01_mario/SuperMarioBros-AI"]
	path = alphachatgpt/case_01_mario/SuperMarioBros-AI
	url = https://github.com/afirez/SuperMarioBros-AI.git
	branch = master
