[submodule "submodules/financial-news-llama-index"]
	path = submodules/financial-news-llama-index
	url = https://github.com/afirez/financial-news-llama-index.git
	branch = main
[submodule "submodules/FinGPT"]
	path = submodules/FinGPT
	url = https://github.com/afirez/FinGPT.git
[submodule "submodules/mlc-llm"]
	path = submodules/mlc-llm
	url = https://github.com/afirez/mlc-llm.git
	branch = main
[submodule "submodules/LangChain-Tutorials"]
	path = submodules/LangChain-Tutorials
	url = https://github.com/afirez/LangChain-Tutorials.git
	branch = main
[submodule "submodules/tutorials"]
	path = submodules/tutorials
	url = https://github.com/afirez/tutorials.git
	branch = main
[submodule "submodules/openai-cookbook"]
	path = submodules/openai-cookbook
	url = https://github.com/afirez/openai-cookbook.git
	branch = main
[submodule "submodules/Auto-GPT"]
	path = submodules/Auto-GPT
	url = https://github.com/afirez/Auto-GPT.git
[submodule "submodules/flutter_chat_box"]
	path = submodules/flutter_chat_box
	url = https://github.com/afirez/flutter_chat_box.git
	branch = main
[submodule "submodules/whisper.cpp"]
	path = submodules/whisper.cpp
	url = https://github.com/afirez/whisper.cpp.git
[submodule "submodules/Orator"]
	path = submodules/Orator
	url = https://github.com/afirez/Orator.git
	branch = main
[submodule "submodules/feiguyunai"]
	path = submodules/feiguyunai
	url = https://github.com/afirez/feiguyunai.git
	branch = main
[submodule "submodules/langchain3"]
	path = submodules/langchain3
	url = https://github.com/afirez/langchain3.git
[submodule "submodules/bark"]
	path = submodules/bark
	url = https://github.com/afirez/bark.git
	branch = main
[submodule "submodules/pygpt4all"]
	path = submodules/pygpt4all
	url = https://github.com/afirez/pygpt4all.git
	branch = main
[submodule "submodules/llama.cpp"]
	path = submodules/llama.cpp
	url = https://github.com/afirez/llama.cpp.git
[submodule "submodules/Thorsten-Voice"]
	path = submodules/Thorsten-Voice
	url = https://github.com/afirez/Thorsten-Voice.git
[submodule "submodules/privateGPT"]
	path = submodules/privateGPT
	url = https://github.com/afirez/privateGPT.git
	branch = main
[submodule "submodules/gpt4all"]
	path = submodules/gpt4all
	url = https://github.com/afirez/gpt4all.git
	branch = main
[submodule "submodules/voice_assistant"]
	path = submodules/voice_assistant
	url = https://github.com/afirez/voice_assistant.git
[submodule "submodules/sherpa"]
	path = submodules/sherpa
	url = https://github.com/afirez/sherpa.git
	branch = main
[submodule "submodules/Hands-On-Deep-Learning-Algorithms-with-Python"]
	path = submodules/Hands-On-Deep-Learning-Algorithms-with-Python
	url = https://github.com/afirez/Hands-On-Deep-Learning-Algorithms-with-Python.git
[submodule "submodules/Hands-On-Meta-Learning-with-Python"]
	path = submodules/Hands-On-Meta-Learning-with-Python
	url = https://github.com/afirez/Hands-On-Meta-Learning-with-Python.git
[submodule "submodules/Hands-On-Reinforcement-Learning-with-Python"]
	path = submodules/Hands-On-Reinforcement-Learning-with-Python
	url = https://github.com/PacktPublishing/Hands-On-Reinforcement-Learning-with-Python.git
[submodule "submodules/Deep-Reinforcement-Learning-with-Python"]
	path = submodules/Deep-Reinforcement-Learning-with-Python
	url = https://github.com/afirez/Deep-Reinforcement-Learning-with-Python.git
	branch = master-v2
[submodule "submodules/Getting-Started-with-Google-BERT"]
	path = submodules/Getting-Started-with-Google-BERT
	url = https://github.com/PacktPublishing/Getting-Started-with-Google-BERT.git
[submodule "submodules/OpenBuddy"]
	path = submodules/OpenBuddy
	url = https://github.com/afirez/OpenBuddy.git
	branch = main
[submodule "submodules/gato"]
	path = submodules/gato
	url = https://github.com/afirez/gato.git
	branch = main
[submodule "submodules/languagemodels"]
	path = submodules/languagemodels
	url = https://github.com/afirez/languagemodels.git
	branch = main
[submodule "submodules/AutoGPTQ"]
	path = submodules/AutoGPTQ
	url = https://github.com/afirez/AutoGPTQ.git
[submodule "submodules/text-generation-webui"]
	path = submodules/text-generation-webui
	url = https://github.com/afirez/text-generation-webui.git
[submodule "submodules/RecurrentGPT"]
	path = submodules/RecurrentGPT
	url = https://github.com/afirez/RecurrentGPT.git
	branch = main
[submodule "submodules/Mastering-Transformers"]
	path = submodules/Mastering-Transformers
	url = https://github.com/afirez/Mastering-Transformers.git
	branch = master-v2
[submodule "submodules/llama2.c"]
	path = submodules/llama2.c
	url = https://github.com/afirez/llama2.c.git
	branch = master
[submodule "alphachatgpt/case_01_mario/SuperMarioBros-AI"]
	path = alphachatgpt/case_01_mario/SuperMarioBros-AI
	url = https://github.com/afirez/SuperMarioBros-AI.git
	branch = master-v2
[submodule "alphachatgpt/case_02_neuro_evaluation/Numpy-Neuroevolution"]
	path = alphachatgpt/case_02_neuro_evaluation/Numpy-Neuroevolution
	url = https://github.com/afirez/Numpy-Neuroevolution
	branch = master
[submodule "alphachatgpt/case_03_neuro_evoluation_snakeai/SnakeAI"]
	path = alphachatgpt/case_03_neuro_evoluation_snakeai/SnakeAI
	url = https://github.com/afirez/SnakeAI.git
	branch = master
[submodule "alphachatgpt/case_03_neuro_evoluation_snakeai/snake"]
	path = alphachatgpt/case_03_neuro_evoluation_snakeai/snake
	url = https://github.com/afirez/snake.git
	branch = case_03_neuro_evoluation
[submodule "alphachatgpt/case_03_neuro_evoluation_snakeai/snake-ai-linyi"]
	path = alphachatgpt/case_03_neuro_evoluation_snakeai/snake-ai-linyi
	url = https://github.com/afirez/snake-ai-linyi.git
	branch = master
[submodule "alphachatgpt/case_03_neuro_evoluation_snakeai/Snake-Battle-Royale"]
	path = alphachatgpt/case_03_neuro_evoluation_snakeai/Snake-Battle-Royale
	url = https://github.com/afirez/Snake-Battle-Royale.git
	branch = case_03_ga_vs_dqn
[submodule "alphachatgpt/case_00_neuro_evoluation/reweight-gpt"]
	path = alphachatgpt/case_00_neuro_evoluation/reweight-gpt
	url = https://github.com/afirez/reweight-gpt
	branch = main
[submodule "alphachatgpt/case_05_diffusion_model/diffusion_model"]
	path = alphachatgpt/case_05_diffusion_model/diffusion_model
	url = https://github.com/afirez/diffusion_model.git
	branch = main
[submodule "alphachatgpt/case_05_diffusion_model/Deep-learning-with-PyTorch-video"]
	path = alphachatgpt/case_05_diffusion_model/Deep-learning-with-PyTorch-video
	url = https://github.com/afirez/Deep-learning-with-PyTorch-video.git
	branch = master
[submodule "alphachatgpt/case_05_diffusion_model/rl_case"]
	path = alphachatgpt/case_05_diffusion_model/rl_case
	url = https://github.com/afirez/rl_case.git
	branch = main
[submodule "alphachatgpt/case_07_moe_mixtral/transformers"]
	path = alphachatgpt/case_07_moe_mixtral/transformers
	url = https://github.com/afirez/transformers.git
	branch = main
[submodule "alphachatgpt/case_00_deep_reinforcement_learning/minizero"]
	path = alphachatgpt/case_00_deep_reinforcement_learning/minizero
	url = https://github.com/afirez/minizero.git
	branch = main
[submodule "alphachatgpt/case_00_deep_reinforcement_learning/AlphaZero_Gomoku"]
	path = alphachatgpt/case_00_deep_reinforcement_learning/AlphaZero_Gomoku
	url = https://github.com/afirez/AlphaZero_Gomoku.git
	branch = master
[submodule "alphachatgpt/case_00_deep_reinforcement_learning/muzero-tensorflow2.x"]
	path = alphachatgpt/case_00_deep_reinforcement_learning/muzero-tensorflow2.x
	url = https://github.com/afirez/muzero-tensorflow2.x.git
	branch = main
[submodule "alphachatgpt/case_00_deep_reinforcement_learning/alpha_sigma"]
	path = alphachatgpt/case_00_deep_reinforcement_learning/alpha_sigma
	url = https://github.com/afirez/alpha_sigma.git
	branch = master
[submodule "alphachatgpt/case_00_lstm/case_atae_lstm/ATAE-LSTM-Sentiment-Classificationn"]
	path = alphachatgpt/case_00_lstm/case_atae_lstm/ATAE-LSTM-Sentiment-Classificationn
	url = https://github.com/afirez/ATAE-LSTM-Sentiment-Classificationn.git
	branch = main
[submodule "alphachatgpt/case_00_evolutionary_deep_learning/EvolutionaryDeepLearning"]
	path = alphachatgpt/case_00_evolutionary_deep_learning/EvolutionaryDeepLearning
	url = https://github.com/afirez/EvolutionaryDeepLearning.git
	branch = main
[submodule "alphachatgpt/case_09_deepseek_r1/TinyZero"]
	path = alphachatgpt/case_09_deepseek_r1/TinyZero
	url = https://github.com/afirez/TinyZero.git
	branch = main
[submodule "alphachatgpt/case_09_deepseek_r1/case_01_llm_grpo/DeepSeek-RL-Qwen-0.5B-GRPO-gsm8k"]
	path = alphachatgpt/case_09_deepseek_r1/case_01_llm_grpo/DeepSeek-RL-Qwen-0.5B-GRPO-gsm8k
	url = https://github.com/afirez/DeepSeek-RL-Qwen-0.5B-GRPO-gsm8k.git
	branch = main
[submodule "alphachatgpt/case_00_deep_reinforcement_learning/alphago_zero_from_scratch"]
	path = alphachatgpt/case_00_deep_reinforcement_learning/alphago_zero_from_scratch
	url = https://github.com/afirez/alphago_zero_from_scratch
	branch = main
